* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif !important;
}

.container-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.vh100 {
	height: 100vh;
}

.border {
  border: 2px solid white;
  padding: 3rem;
  border-radius: 10px;
}

.bg {
	background: linear-gradient(rgb(29, 206, 250), rgb(183, 80, 224));
}

h1 {
  color: white;
  font-weight:100;
  margin-bottom: 2rem;
}

p {
  color: white;
  font-size: 1.5rem;
}

hr {
  color: white;
}

#displacement {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  color: white;
  text-align: center;
}
	
::placeholder { 
  color: white; 
}

#inputText {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem 7rem;
  color: white;
  text-align: center;
}

.button {
  background-color: white;
  color: rgb(183, 80, 224);
  border: none;
  width: 100px;
  margin-top: 1rem;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 2rem;
  font-weight: bolder;
}

.button:hover {
  background-color: rgb(29, 206, 250);
  color: white;
}

.result {
  background-color: white;
  margin-top: 2rem;
  color: rgb(183, 80, 224);
  font-weight: bolder;
  padding: 1rem 2rem;
  border-radius: 5px;
}